input[type="text"],
input[type="date"],
input[type="time"],
input[type="number"] {
    border: 2px solid #333;
    background-color: white;
    border-radius: 0.25rem;
    font: 1.25rem / 1.5 sans-serif;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem 0.75rem;
}

input[type="submit"] {
    border: 2px solid #333;
    background-color: #084d6e;
    border-radius: 0.25rem;
    font: 1.25rem / 1.5 sans-serif;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem 0.75rem;
    color: white;
    cursor: pointer;
}

label {
    display: block;
    margin-top: 20px;
    color: #000;
    font-size: 1.25rem;
}

#sede {
    border: 2px solid #333;
    background-color: white;
    border-radius: 0.30rem;
    font: 1.25rem / 1.5 sans-serif;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem 0.75rem;
}